.projectlister{
    height: fit-content;
    min-width: 100%;

    h2{
        padding: 10px;
        text-align: center;
    }

    &__list{
        min-height: 500px;
        height: fit-content;

        &__card{
            height: 20rem;
            background-color: lightgray;
            margin-top: 10px;
            display: flex;
            justify-content: center;

            &__titlewrapper{
                min-height: 100%;
                width: 80%;
                position: relative;

                &__title{
                    padding: 10px;
                }

                &__desc{
                    padding: 10px;
                    overflow: hidden;
                }

                &__links{
                    width: 100%;
                    position: absolute;
                    top: 100%;
                    transform: translateY(-100%);
                    display: flex;
                    justify-content: space-evenly;
                    padding: 10px;
                     a{
                        background-color: orange;
                        height: 30px;
                        width: 70px;
                        padding: 2px;
                        min-height: fit-content;
                        min-width: fit-content;
                        font-size: 1.4rem;
                        text-decoration: none;
                        color: black;
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                        display: grid;
                        place-content: center;
                     }
                }  
            }

            &__img{
                height: 100%;
                width: 50%;
                object-fit: cover;
                padding: 10px;
            }
        }
    }
}