@import './styles/header';
@import './styles/social';
@import './styles/_projects';
@import './styles/projectlisters';
@import './styles/home';
@import './styles/intro';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

#root{
    display: flex;
    justify-content: center;
}

.container{
    width: 50%;
    min-width: 400px;

    @media(max-width: 500px){
        width: 100%;
    }
}