.header {
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  position: sticky;
  top: -60px;
  left: 0;
  z-index: 10;
}
@media (max-width: 500px) {
  .header {
    display: none;
  }
}
.header__logowrapper {
  max-height: 50px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.header__logowrapper__logo {
  height: 70px;
  width: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__nav {
  height: 50px;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: flex;
  color: black;
  background-color: white;
  z-index: 10;
  position: sticky;
  top: 0;
  border-top: 1px solid rgb(160, 156, 156);
  border-bottom: 1px solid rgb(160, 156, 156);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
}
.header__nav ul {
  min-height: 100%;
  min-width: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav ul a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 15px;
  margin-right: 15px;
}
.header__nav ul a:hover {
  color: orange;
}

@media (min-width: 500px) {
  .header--mobile {
    display: none;
  }
}
@media (max-width: 500px) {
  .header--mobile {
    height: -moz-fit-content;
    height: fit-content;
    min-width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .header--mobile__logowrapper {
    height: 50px;
  }
  .header--mobile__logowrapper__logo {
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .header--mobile__hamburgerwrapper {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 100%;
    transform: translateX(-100%);
    z-index: 99;
    font-size: 20px;
    border-radius: 100%;
  }
  .header--mobile__nav--show {
    background-color: white;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    transition: left 1s ease;
    position: fixed;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-size: 0.9rem;
    font-width: 600;
  }
  .header--mobile__nav--show__closebtn {
    height: 30px;
    width: 30px;
  }
  .header--mobile__nav--show ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
  }
  .header--mobile__nav--show ul li {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .header--mobile__nav--show ul a {
    text-decoration: none;
    color: black;
  }
  .header--mobile__nav {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: -100%;
  }
}
.social {
  background-color: lightgray;
  height: 2rem;
  display: flex;
  justify-content: space-between;
}
.social__iconswrapper {
  width: 10rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.social__iconswrapper__icons {
  font-size: 1.1rem;
  margin-top: 5px;
  color: black;
}
.social__iconswrapper__icons:hover.github {
  color: black;
}
.social__iconswrapper__icons:hover.youtube {
  color: red;
}
.social__iconswrapper__icons:hover.linkedin {
  color: blue;
}
.social__darkmodewrapper {
  width: 5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  font-size: 1.1rem;
}
.social__darkmodewrapper__sunmoon {
  margin-top: 5px;
}
.social__darkmodewrapper__sunmoon--hide {
  display: none;
}

.projects {
  min-height: 100vh;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 100%;
}

.projectlister {
  height: -moz-fit-content;
  height: fit-content;
  min-width: 100%;
}
.projectlister h2 {
  padding: 10px;
  text-align: center;
}
.projectlister__list {
  min-height: 500px;
  height: -moz-fit-content;
  height: fit-content;
}
.projectlister__list__card {
  height: 20rem;
  background-color: lightgray;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.projectlister__list__card__titlewrapper {
  min-height: 100%;
  width: 80%;
}
.projectlister__list__card__titlewrapper__title {
  padding: 10px;
}
.projectlister__list__card__titlewrapper__desc {
  padding: 10px;
  overflow: hidden;
}
.projectlister__list__card__img {
  height: 100%;
  min-width: 20%;
  -o-object-fit: contain;
     object-fit: contain;
}

.homemain {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.intro {
  height: auto;
  margin-top: 80px;
}
.intro__imgsection {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: clip;
}
.intro__imgsection__profileimg {
  background-color: orange;
  height: 100px;
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 100%;
  border: 1px solid black;
  margin: 0px 0px 0px 20px;
}
.intro__imgsection h2 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 0px 0px 0px 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 4.5rem;
  text-transform: uppercase;
}
.intro__imgsection h2 span {
  color: orange;
}
.intro__infosection {
  padding-left: 20px;
}
.intro__infosection__role {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 120px;
  letter-spacing: 2px;
  font-size: 1.3rem;
  text-transform: capitalize;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  color: gray;
}
.intro__infosection p {
  padding-left: 120px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  margin-top: 20px;
  min-height: 120px;
}
.intro__infosection__links {
  display: flex;
  justify-content: flex-start;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 0px 10px 120px;
}
.intro__infosection__links a {
  color: black;
  text-decoration: none;
  margin: 0px 50px 0px 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
  background-color: orange;
  height: 100%;
  padding: 5px;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

#root {
  display: flex;
  justify-content: center;
}

.container {
  width: 50%;
  min-width: 400px;
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */